<launch>
    <include
        file="$(find gazebo_ros)/launch/empty_world.launch" />
  <rosparam file="$(find ajit_2)/config/group_joint.yaml" command="load"/>
  
  <param name="robot_description"
      textfile="$(find ajit_2)/urdf/ajit_2.urdf"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description -urdf -model ajit_2" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/ajit_2" args="
        joint_state_controller
        robot_position_controller
        "/>
</launch>
